<% if current_member %>
  <p class="navbar-text">
    <%= current_member.name + 'さん' %>
    <%= link_to 'ログアウト', :session,
                method: :delete, data: { confirm: 'ログアウトしますか？' }, class: 'btn btn-warning'%>
  </p>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <% if controller.controller_name != 'rooms' %>
        <%= link_to '部屋一覧', :rooms, class: 'nav-link' %>
      <% else %>
        <p class="nav-link active">部屋一覧</p>
      <% end %>
    </li>
    <li class="nav-item">
      <% if controller.controller_name != 'plans' %>
        <%= link_to 'プラン一覧', :plans, class: 'nav-link' %>
      <% else %>
        <p class="nav-link active">プラン一覧</p>
      <% end %>
    </li>
    <li class="nav-item">
      <% if controller.controller_name != 'mypage' %>
        <%= link_to 'マイページ', mypage_index_path, class: 'nav-link' %>
      <% else %>
        <p class="nav-link active">マイページ</p>
      <% end %>
    </li>
  </ul>
<% end %>