<%= form_for Array(@room), url: search_rooms_path, method: :get do |form| %>
    <p><%= form.label :price, '一人当たりの予算' %>
       <%= form.text_field 'price' %></p>
    <p><%= form.label :person, '宿泊人数' %>
       <%= form.text_field 'person' %></p>
    <p><%= form.label :date,'宿泊期間' %>
       <%= form.date_select :start_date,
           start_year: Date.today.year, start_month: Date.today.month,
            start_day: Date.today.day, use_month_numebrs: true %>〜
       <%= form.date_select :end_date,
                            start_year: Date.today.year, start_month: Date.today.month,
                            start_day: Date.today.day, use_month_numebrs: true %>
    </p>
    <p><%= form.label :plan, 'プラン' %>
       <%= form.select :plan, @options %></p>
    <p>
    <%= form.radio_button :condition, 'and' %>
        <%= form.label :condition_and, 'AND' %>
    <%= form.radio_button :condition, 'or' %>
        <%= form.label :condition_or, 'OR' %>
    </p>
    <p><%= form.submit '検索'%></p>
<% end %>